---
const { title } = Astro.props
// import "@fontsource-variable/josefin-sans"
import Nav from "../components/Nav.tsx"
import HomePage from "../components/HomePage.tsx"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content=", "
    />
    <meta title={title} />
  </head>
  <body class="">
    <Nav client:load />
    <HomePage client:load />
  </body>
</html>
<main>
  <slot />
  
</main>

<style>

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: '', sans-serif;
    width: 100%;
} 

</style>
