---
const { title } = Astro.props
// import "@fontsource-variable/josefin-sans"
import Nav from "../components/Nav.tsx"
import HomePage from "../components/HomePage.tsx"
import Footer from "../components/Footer";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content=", "
    />
    <meta title={title} />
  </head>
  <body class="">
    <div class="main-page">
      <Nav client:load />
      <HomePage client:load />
    </div>

    <Footer client:load />
  </body>
</html>
<main>
  <slot />
  
</main>

<style>

 body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: '', sans-serif;
    width: 100%;
    /* background-image: linear-gradient(to bottom, #3b5382, #6e789e, #9da0ba, #cbcad8, #f7f7f7); */

    /* background-image: linear-gradient(to top, #3b5385, #6f78a0, #9ea0bc, #cbcad9, #f7f7f7); */
        /* background-image: linear-gradient(to bottom, #3b5382, #445d8d, #4e6798, #5771a4, #617baf, #7388b9, #8595c2, #96a2cc, #b1b6d6, #cacbe1, #e1e0ec, #f7f7f7); */
 }

.main-page{
  height: 100vh;
}
</style>
