---
const { title } = Astro.props
import Nav from "../components/Nav.tsx"
import Footer from "../components/Footer";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content=", "
    />
    <meta title={title} />
  </head>
  <body >
    <div >
      <Nav client:load />
      
    </div>

  </body>
</html>
<main class="main-page">
  <slot />
  
 
</main>
<Footer client:load />
<style>

 body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: '', sans-serif;
    width: 100%;
 }

.main-page{
  height: 100vh;
}
</style>
