---
const { title } = Astro.props
// import "@fontsource-variable/josefin-sans"
import Nav from "../components/Nav.tsx"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content=", "
    />
    <meta title={title} />
  </head>
  <body class="">
    <Nav client:load />
  </body>
</html>
<main>
  <slot />
  <!-- your content is injected here -->
  <!-- <footer class="mt-12 bg-black px-8 py-12 md:px-16 lg:px-32">
    <div></div>
  </footer> -->
</main>

<style>

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: '', sans-serif;
}
</style>
